body {
  background-color: #da1884;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  overflow-x: hidden;
}
html,
body {
  overflow-x: hidden;
}

.game-box {
  background-color: rgb(255, 255, 255);
  width: 450px;
  height: 600px;
  border-radius: 10px;
  padding: 20px;
}

.game--details {
  font-size: 18px;
}
.text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.roll-btn {
  width: 80px;
  height: 45px;
  border: none;
  background-color: rgb(7, 31, 105);
  font-size: 22px;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.dot {
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.styleDice {
  background-color: red !important;
}

.dices-div {
  width: 350px;
  height: 150px;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  grid-template-rows: 40px 40px;
  column-gap: 20px;
  row-gap: 40px;
}

.dice {
  background-color: black;
  width: 64px;
  border-radius: 10px;
  height: 70px;
  margin: 10px !important;
}

.reset-Btn {
  width: 100px;
  height: 50px;
  background-color: rgb(12, 70, 120);
  border-radius: 5px;
  font-size: 15px;
  color: white;
  border: none;
}

.display {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.confetti-container {
  width: 100vw;
}
.error {
  background-color: rgb(217, 84, 84);
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
@media (max-width: 500px) {
  html,
  body {
    overflow-x: hidden;
  }

  .game-box {
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 600px;
    border-radius: 10px;
    padding: 20px;
  }

  .dices-div {
    margin-left: 20px;
    width: 350px;
    height: 150px;
    display: grid;
    grid-template-columns: 35px 35px 35px 35px 35px;
    grid-template-rows: 40px 40px;
    column-gap: 30px;
    row-gap: 40px;
  }
}
